*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#container {
    max-width: 980px;
    margin: auto;
    position: relative;
    min-height: 100vh;
}

header, footer {
background-color: #FBE7C6;
padding: 8px 16px;
}

header::after {
display: table;
content: '';
clear:both;
}

footer {
    text-align: center;
}

nav {
    float: right;
}

.nav-link {
  background-color: #FFAEBC;
  color: white;
  padding: 8px 16px; 
  text-decoration: none;
  margin-left: 8px; 
  display: inline-block;
}

.nav-link:hover {
    cursor: pointer;
    background-color: #B99095;
}

.home {
    display: inline-block;
}

nav a {
    float: left;
}

h1 {
    margin: 16px 0;
    display: inline-block;
}

h2 {
margin: 8px 0;
}

.drop {
    box-shadow: 0 0 15px 5px  rgba(0, 0, 0, 0.2);  
}

.splash {
    padding: 32px 64px;
    margin: 64px;  
}
article.preview, article.comment {
 margin: 16px 32px;
}

article.preview div {
    font-size: 80%;
    color: #FFAEBC;
    padding: 8px 16px;
    text-shadow: 2px;
}

label {
    display: block;
    margin: 8px 0;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: left;
    text-align: right;
    margin-right: 8px;
    vertical-align: top;
}

label input {
    width: 200px;
}

label textarea {
    width: 300px;
    height: 200px;
}


.narrow {
    width: 400px;
    margin: 64px auto;
}

.main {
    margin: 32px;
}

.center {
     text-align: center;   
}

.action {
    display: inline-block;
    padding: 8px 16px;
    background-color: #FFAEBC;
    border: none;
    color: white;
    margin: 16px;
    text-decoration: none;
}

form {
margin: 16px 32px;
}

.action:hover {
    cursor: pointer;
    background-color: #B99095;
}

.action:disabled {
    background-color: rgb(173, 173, 173);
    cursor: not-allowed;
}

.error input, .error textarea {
    border: 1px solid red;
}

.error-msg {
    color:red;
}

.topic-content {
    padding: 32px;
}

.controls {
    float: right;
}